<h1><%= @department.department_name %></h1>
<hr />
<h2>Inventory</h2>
<table>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Description</th>
    </tr>
<% @department.items.each do |item| %>
<tr>
  <td><%= link_to item.item_name, [@department, item] %></td>
  <td><%= link_to item.price, [@department, item] %></td>
  <td><%= link_to item.quantity, [@department, item] %></td>
  <td><%= link_to item.description, [@department, item] %></td>
</tr> 
<% end %>
</table>
<hr />
<button><%= link_to 'Go Back', department_path(@department) %></button>
<button><%= link_to 'Add Inventory Item', new_department_item_path(@department)%></button>